<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power4 Web - Chargement</title>
    <link rel="stylesheet" href="/static/style_home.css">
</head>
<body>
    <div class="container">
        <h1>Puissance <span class="subtitle">4</span></h1>
        <div class="loading-bar">
            <div class="loading-progress"></div>
        </div>
    </div>

    <script>
        setTimeout(() => {
            window.location.href = '/start';
        }, 3000);
    </script>
</body>
</html>
